    <!DOCTYPE html>
<html lang="en" ng-app="ShopApp">
<head>
    <meta charset="UTF-8">
    <title>Angular JS 快速入门</title>

    <!-- build:css css/demo-all.css -->
    <!-- css 文件列表 -->
    <!-- endbuild -->

    <script src="lib/angular.min.js"></script>

    <!-- build:js demo-app-all.js -->
    <script src="demoApp.js"></script>
    <script src="dataService.js"></script>
    <script src="demoController.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="DemoController as demo">
    <div>
        <label>{{demo.item1.name}}</label>
        <label>{{demo.item1.price}}</label>
        <label>{{demo.item1.quantity}}</label>
        <button ng-click="demo.add()"> + </button>
        <button ng-click="demo.subtract()"> - </button>
    </div>
    <div><label>Total: </label>{{demo.data.totalAmount}}</div>
</body>
</html>